<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pruebamodulocuatro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAccidentes</display-name>
    <servlet-name>ServletAccidentes</servlet-name>
    <servlet-class>servlet.ServletAccidentes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccidentes</servlet-name>
    <url-pattern>/ServletAccidentes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaAccidente</display-name>
    <servlet-name>ServletConsultaAccidente</servlet-name>
    <servlet-class>servlet.ServletConsultaAccidente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaAccidente</servlet-name>
    <url-pattern>/ServletConsultaAccidente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarAccidente</display-name>
    <servlet-name>ServletActualizarAccidente</servlet-name>
    <servlet-class>servlet.ServletActualizarAccidente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarAccidente</servlet-name>
    <url-pattern>/ServletActualizarAccidente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarAccidente</display-name>
    <servlet-name>ServletEliminarAccidente</servlet-name>
    <servlet-class>servlet.ServletEliminarAccidente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarAccidente</servlet-name>
    <url-pattern>/ServletEliminarAccidente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIngresoProf</display-name>
    <servlet-name>ServletIngresoProf</servlet-name>
    <servlet-class>servlet.ServletIngresoProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIngresoProf</servlet-name>
    <url-pattern>/ServletIngresoProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletObtenerProf</display-name>
    <servlet-name>ServletObtenerProf</servlet-name>
    <servlet-class>servlet.ServletObtenerProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletObtenerProf</servlet-name>
    <url-pattern>/ServletObtenerProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarProf</display-name>
    <servlet-name>ServletActualizarProf</servlet-name>
    <servlet-class>servlet.ServletActualizarProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarProf</servlet-name>
    <url-pattern>/ServletActualizarProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarProf</display-name>
    <servlet-name>ServletEliminarProf</servlet-name>
    <servlet-class>servlet.ServletEliminarProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarProf</servlet-name>
    <url-pattern>/ServletEliminarProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsProf</display-name>
    <servlet-name>ServletConsProf</servlet-name>
    <servlet-class>servlet.ServletConsProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsProf</servlet-name>
    <url-pattern>/ServletConsProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIngresoCliente</display-name>
    <servlet-name>ServletIngresoCliente</servlet-name>
    <servlet-class>servlet.ServletIngresoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIngresoCliente</servlet-name>
    <url-pattern>/ServletIngresoCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaCliente</display-name>
    <servlet-name>ServletConsultaCliente</servlet-name>
    <servlet-class>servlet.ServletConsultaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaCliente</servlet-name>
    <url-pattern>/ServletConsultaCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarCliente</display-name>
    <servlet-name>ServletActualizarCliente</servlet-name>
    <servlet-class>servlet.ServletActualizarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarCliente</servlet-name>
    <url-pattern>/ServletActualizarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarCliente</display-name>
    <servlet-name>ServletEliminarCliente</servlet-name>
    <servlet-class>servlet.ServletEliminarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarCliente</servlet-name>
    <url-pattern>/ServletEliminarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInformeProfesional</display-name>
    <servlet-name>ServletInformeProfesional</servlet-name>
    <servlet-class>servlet.ServletInformeProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInformeProfesional</servlet-name>
    <url-pattern>/ServletInformeProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInformeCliente</display-name>
    <servlet-name>ServletInformeCliente</servlet-name>
    <servlet-class>servlet.ServletInformeCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInformeCliente</servlet-name>
    <url-pattern>/ServletInformeCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearOT</display-name>
    <servlet-name>CrearOT</servlet-name>
    <servlet-class>servlet.CrearOT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearOT</servlet-name>
    <url-pattern>/CrearOT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarOT</display-name>
    <servlet-name>EliminarOT</servlet-name>
    <servlet-class>servlet.EliminarOT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarOT</servlet-name>
    <url-pattern>/EliminarOT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarOT</display-name>
    <servlet-name>ListarOT</servlet-name>
    <servlet-class>servlet.ListarOT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarOT</servlet-name>
    <url-pattern>/ListarOT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarOT</display-name>
    <servlet-name>ModificarOT</servlet-name>
    <servlet-class>servlet.ModificarOT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarOT</servlet-name>
    <url-pattern>/ModificarOT</url-pattern>
  </servlet-mapping>
</web-app>